DL_MESO phase separation example

volume 1000.0
temperature 1.0
cutoff 1.25

timestep 0.01
steps 20000
equilibration steps 0
scale temperature every 10
trajectory 0 100
stats every 100
stack size 100
print every 10
job time 3600.0
close time 200.0

ensemble nvt mdvv

l_scr

finish
