title SPC model water in cubic cell

io_file_config CONFIG
io_file_field FIELD
io_file_statis STATIS
io_file_revive REVIVE
io_file_revcon REVCON
temperature  295.0 K
print_frequency  100.0 steps
stats_frequency  100.0 steps
rdf_print ON
rdf_calculate ON
rdf_frequency  10.0 steps
vdw_cutoff  8.0 ang
padding  0.3 ang
cutoff  8.0 ang
coul_method reaction_field
ensemble nve
time_run  15000.0 steps
time_equilibration  5000.0 steps
time_job  900.0 s
time_close  20.0 s
timestep  0.0005 ps
pressure_hydrostatic  0.0 katm
stack_size  100 steps
coul_dielectric_constant 78.0
equilibration_force_cap  10000.0 k_B.temp/ang
shake_tolerance  1e-05 ang
traj_calculate ON
traj_start  5000.0 steps
traj_interval  500.0 steps
traj_key pos-vel
